In [16]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from scipy.sparse import csr_matrix, hstack, save_npz, load_npz

In [17]:
# def wrap_create_sparse_df(df, n_cols, n_rows, col_to_sparse_df, value_to_sparse_df, row_id):
#     df_sparse = pd.DataFrame()
#     for i in tqdm(range(n_cols)):
#         a = np.empty((n_rows))
#         a[:] = 0

#         df_product = df[df[col_to_sparse_df] == i+1]
#         for c in df_product[value_to_sparse_df].unique():
#             df_p = df_product[df_product["count"] == c]
#             a[df_p[row_id].to_list()] = c
#         df_sparse[str(i)] = pd.arrays.SparseArray(a, dtype=float, fill_value=0)
#     return df_sparse

In [18]:
# def create_sparse_df(df, col_to_sparse_df, row_id):
#     value_to_sparse_df = "count"
#     df_exploded = df.explode(col_to_sparse_df)   # in case the column contains a list
#     df_exploded[value_to_sparse_df] = 1          # this column is used to keep track of the sparse value
    
#     df_exploded_grouped = df_exploded.groupby([col_to_sparse_df, row_id])[value_to_sparse_df].sum().reset_index()
#     n_cols = df_exploded_grouped[col_to_sparse_df].max()
#     n_rows = df_exploded_grouped[row_id].max() + 1
    
#     df_sparse = wrap_create_sparse_df(df_exploded_grouped, n_cols, n_rows, col_to_sparse_df, value_to_sparse_df, row_id)
#     return df_sparse

In [20]:
# df_product_to_sparse = df_order_products[["order_id", "product_id"]]
# df_sparse_product = create_sparse_df(df_product_to_sparse, col_to_sparse_df="product_id", row_id="order_id")
# del df_product_to_sparse
# df_sparse_product

In [46]:
df_order_products = pd.read_csv("../data/raw/order_products__prior.csv")

In [47]:
df_order_products["count"] = 1
df = df_order_products.groupby(["product_id"])["count"].sum().reset_index()
df["percentage"] = df["count"]/len(df_order_products)
df = df.sort_values("percentage", ascending=False)
df["cumulative_percentage"] = df["percentage"].cumsum()
most_sold_products = df[df["cumulative_percentage"] < 0.90]["product_id"].to_list()
len(most_sold_products)

9151

In [48]:
df_orders = df_order_products[df_order_products["product_id"].isin(most_sold_products)]
df_orders

          order_id  product_id  add_to_cart_order  reordered  count
0                2       33120                  1          1      1
1                2       28985                  2          1      1
2                2        9327                  3          0      1
3                2       45918                  4          1      1
4                2       30035                  5          0      1
...            ...         ...                ...        ...    ...
32434484   3421083       39678                  6          1      1
32434485   3421083       11352                  7          0      1
32434486   3421083        4600                  8          0      1
32434487   3421083       24852                  9          1      1
32434488   3421083        5020                 10          1      1

[29190861 rows x 5 columns]