In [16]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from scipy.sparse import csr_matrix, hstack, save_npz, load_npz

In [17]:
# def wrap_create_sparse_df(df, n_cols, n_rows, col_to_sparse_df, value_to_sparse_df, row_id):
#     df_sparse = pd.DataFrame()
#     for i in tqdm(range(n_cols)):
#         a = np.empty((n_rows))
#         a[:] = 0

#         df_product = df[df[col_to_sparse_df] == i+1]
#         for c in df_product[value_to_sparse_df].unique():
#             df_p = df_product[df_product["count"] == c]
#             a[df_p[row_id].to_list()] = c
#         df_sparse[str(i)] = pd.arrays.SparseArray(a, dtype=float, fill_value=0)
#     return df_sparse

In [18]:
# def create_sparse_df(df, col_to_sparse_df, row_id):
#     value_to_sparse_df = "count"
#     df_exploded = df.explode(col_to_sparse_df)   # in case the column contains a list
#     df_exploded[value_to_sparse_df] = 1          # this column is used to keep track of the sparse value
    
#     df_exploded_grouped = df_exploded.groupby([col_to_sparse_df, row_id])[value_to_sparse_df].sum().reset_index()
#     n_cols = df_exploded_grouped[col_to_sparse_df].max()
#     n_rows = df_exploded_grouped[row_id].max() + 1
    
#     df_sparse = wrap_create_sparse_df(df_exploded_grouped, n_cols, n_rows, col_to_sparse_df, value_to_sparse_df, row_id)
#     return df_sparse

In [19]:
df_order_products = pd.read_csv("../data/raw/order_products__prior.csv")

In [20]:
# df_product_to_sparse = df_order_products[["order_id", "product_id"]]
# df_sparse_product = create_sparse_df(df_product_to_sparse, col_to_sparse_df="product_id", row_id="order_id")
# del df_product_to_sparse
# df_sparse_product

In [35]:
df_order_products["count"] = 1
df = df_order_products.groupby(["product_id"])["count"].sum().reset_index()
df["percentage"] = df["count"]/len(df_order_products)
df = df.sort_values("percentage", ascending=False)
df

       product_id   count    percentage
24848       24852  472565  1.456983e-02
13172       13176  379450  1.169897e-02
21133       21137  264683  8.160542e-03
21899       21903  241921  7.458758e-03
47198       47209  213584  6.585089e-03
...           ...     ...           ...
45884       45893       1  3.083138e-08
13393       13397       1  3.083138e-08
30445       30451       1  3.083138e-08
42456       42464       1  3.083138e-08
25244       25248       1  3.083138e-08

[49677 rows x 3 columns]

In [37]:
df["cumulative_percentage"] = df["percentage"].cumsum()

In [43]:
df[df["cumulative_percentage"] < 0.90]

       product_id   count  percentage  cumulative_percentage
24848       24852  472565    0.014570               0.014570
13172       13176  379450    0.011699               0.026269
21133       21137  264683    0.008161               0.034429
21899       21903  241921    0.007459               0.041888
47198       47209  213584    0.006585               0.048473
...           ...     ...         ...                    ...
46156       46166     430    0.000013               0.899941
6381         6384     430    0.000013               0.899955
21112       21116     430    0.000013               0.899968
1552         1553     430    0.000013               0.899981
49232       49243     430    0.000013               0.899994

[9151 rows x 4 columns]